@model TheWorld.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact page";
 }

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 }


    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h1>Contact</h1>
                    <hr />
                </div>
                <div class="col-md-8">
                    <form method="post">
                        <div class="form-group">
                            <span asp-validation-summary="ModelOnly" class=""></span>
                        </div>
                        <div class="form-group">
                            <label class="control-lable" asp-for="Name">Name</label>
                            <input type="text" class="form-control" asp-for="Name" />
                        </div>
                        <div class="form-group">
                            <label class="control-lable" asp-for="Email">Email</label>
                            <input type="email" class="form-control" asp-for="Email" />
                        </div>
                        <div class="form-group">
                            <label class="control-lable" asp-for="Message">Message</label>
                            <textarea cols="50" rows="4" class="form-control" asp-for="Message"></textarea>
                            <span asp-validation-for="Message" class="text-warning"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>

